#board {
    width: 100%;
    max-width: 300px;
    position: relative;
}

#board-spacer {
    display: none;
    height: 316px;
}

.has-docked-board #board {
    position: fixed;
    top: 0;
}

.has-docked-board #board-spacer {
    display: block;
}

