.container {
    max-width: 580px;
}

.divided {
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 20px;
}

#board {
    max-width: 340px;
    position: relative;
}

#board-spacer {
    display: none;
    height: 276px;
}

.has-docked-board #board {
    position: fixed;
    top: 0;
}

.has-docked-board #board-spacer {
    display: block;
}

.move-details, td p {
    display: none;
}

.move-details td {
  padding: 0px 0px;
}

@media (min-width: 550px) {
    .container {
        width: 95%;
    }
}
 
