<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>Game analysis</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
        <link rel="stylesheet" href="css/game.css">
        <script data-main="js/main" src="js/require.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
            <header>
               <nav>
                    <ul>
                        <li class="nav-item"><a href="/chess">Games</a></li>
                        <li class="nav-item"><a href="about">About</a></li>
                    </ul>
                </nav>
                <div>
                    <h3 id="matchup"></h2>
                    <span id="event"></span>
                    <span>-</span>
                    <span id="date"></span>
                    <div id="white-name"></div>
                    <div id="black-name"></div>
                </div>
             </header>
        </div>
        </div>
            <div class="row">
                <div>
                    <div id="board-spacer"></div>
                    <div id="board"></div>
                </div>
            </div>

            <div class="row">
                <div id="move-list"></div>
            </div>
        </div>

        <div class="footer-container">
            <footer class="wrapper">
                <h3><a href="http://jhaveri.net">jhaveri.net</a></h3>
            </footer>
        </div>
    </body>
    <script type="text/template" class="moves-template">
        <table class="moves-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Score</th>
                    <th>Move</th>
                    <th>Best Move</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(positions, function(position){                    %>
            <%      var anal = position.details.analysis;               %>
                <tr>
                    <td><%- position.move_number %></td>
                    <% if (anal.unit === "mate") { %>
                        <td>Mate in <%- anal.score %></td>
                    <% } else { %>
                        <td><%- anal.score %></td>
                    <% } %>
                    <td><%- position.move %></td>
                    <td>
                        <%- position.details.best_move.move %>
                    </td>
                </tr>
                <tr class="move-details">
                    <td colspan="4">
                        <p>
                            Best line:  <%- anal.next_moves.join(', ') %>
                            <br />
                            Depth: <%- anal.depth %>
                            <br />
                            Side: <%- position.side %>
                        </p>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </script>
</html>
