<!DOCTYPE html>
<html>
<head>
    <title>Game analysis</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
    <link rel="stylesheet" href="css/game.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="apple-touch-icon" href="img/favicon.png">
    <script data-main="js/main" src="js/require.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <header>
               <nav>
                    <ul>
                        <li class="nav-item"><a href="index.html">Games</a></li>
                        <li class="nav-item"><a href="about">About</a></li>
                    </ul>
                </nav>
                <h3 id="matchup" class="divided">&nbsp;</h3>
            </header>
            <div>
                <span id="event"></span>
                <span>-</span>
                <span id="date"></span>
                <div id="white-name"></div>
                <div id="black-name"></div>
            </div>
        </div>
    </div>
    <div class="container divided">
        <div class="row">
            <button id="flip">Flip board</button>
        </div>
        <div class="row">
            <div class="six columns">
                <div id="board-spacer"></div>
                <div id="board"></div>
            </div>
            <div id="move-list" class="six columns"></div>
        </div>
    </div>

    <div class="container divided">
        <footer>
            <h3><a href="http://jhaveri.net">jhaveri.net</a></h3>
        </footer>
    </div>
    <script type="text/template" class="moves-template">
        <table class="moves-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Score (before move)</th>
                    <th>Move</th>
                    <th>Best Move</th>
                </tr>
            </thead>
            <tbody>
            <% _.each(positions, function(position, i){                 %>
            <%      var anal = position.details.analysis;               %>
                <tr data-move="<%- i %>">
                    <td><%- position.move_number %></td>
                    <% if (anal.unit === "mate") { %>
                        <td>Mate in <%- anal.score %></td>
                    <% } else { %>
                        <td><%- anal.score %></td>
                    <% } %>
                    <td><%- position.move %></td>
                    <td>
                        <%- position.details.best_move.move %>
                    </td>
                </tr>
                <tr class="move-details" data-move="<%- i %>">
                    <td colspan="4">
                        <p>
                        <% if (anal.next_moves) { %>
                            Best line:
                            <%
                            _.each(anal.next_moves, function(nextmove, j, list) {
                            %>
                            <a class="best-line-link" href="javascript:void(0)" data-basemove="<%- i %>" data-submove="<%- j %>"><%- nextmove %></a>
                            <%});%>
                        <% } %>
                            <br />
                            Depth: <%- anal.depth %>
                            <br />
                            Side: <%- position.side %>
                        </p>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </script>
</body>
</html>

