<!DOCTYPE html>
<html class="no-js">
    <head>
        <link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
        <link rel="stylesheet" href="css/game.css">
        <script data-main="js/main" src="js/require.js"></script>
    </head>
    <body>
        <div class="header-container">
            <header class="wrapper clearfix">
                <div class="game-info">
                    <h1 id="matchup"></h1>
                    <span id="event"></span>
                    <span>-</span>
                    <span id="date"></span>
                </div>
                <nav>
                    <ul>
                        <li><a href="/chess">Games</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">
                <div class="move-details">
                    <div id="board"></div>
                    <div id="analysis">
                        <span id="move-no">&nbsp;</span>
                        <span id="move">&nbsp;</span>
                        <div id="score">&nbsp;</div>
                        <div id="depth">&nbsp;</div>
                        <div id="best-line">&nbsp;</div>
                    </div>
                </div>
                <div id="move-list"></div>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3><a href="http://jhaveri.net">jhaveri.net</a></h3>
            </footer>
        </div>
    </body>
    <script type="text/template" class="moves-template">
        <table class="moves-table">
            <tr>
                <th>#</th>
                <th>Score</th>
                <th>Move</th>
                <th>Best Move</th>
            </tr>
        <% _.each(positions, function(position){                    %>
        <%      var anal = position.details.analysis;               %>
            <tr>
                <td><%- position.move_number %></td>
                <% if (anal.unit === "mate") { %>
                    <td>Mate in <%- anal.score %></td>
                <% } else { %>
                    <td><%- anal.score %></td>
                <% } %>
                <td><%- position.move %></td>
                <td><%- position.details.best_move.move %></td>
            </tr>
        <% }); %>
        </table>
    </script>
</html>
